<link rel="stylesheet" href="style.css" />
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<h1> Welcome to the College Picker! </h1>
<h2>Here we will choose your college that fits you best!</h2>
<h3>Please input the size of school you would like.</h3>
<form action= "/results" method= "post">
    <input type= "text" name= "size" />
<h3>Please input the region where you would like to be.</h3>
    <input type= "text" name= "region" />
    <input type= "submit" value= "Click to your future college" />
</form>